<% content_for :body_class do %>dashboard<% end %>

<% content_for :title do %>
  My Favorite Data Records
<% end %>

<div id="ltColumn">
  <%= show_flash_message %>
  <% if current_user.favorite_records.empty? %>
  <div id="flash_notice">
    You have no favorites yet. <%= link_to "Browse", data_records_path %> for some.
  </div>
  <% end %>
  <table>
    <thead>
      <tr id="titles">
        <th class="left">Data Record</th>
        <th class="center">Rating</th>
        <th class="right">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.favorite_records.each do |source| %>
      <tr class="<%= cycle 'even', 'odd' %>">
        <td class="left dataContent">
          <%= link_to source.title, source_path(source.slug), :class => "dataName" %>
          <p class="clear"><%= truncate(source.description, 140) %></p>
        </td>
        <td class="center">
          <%= render 'ratings/stars', :rating => source.ratings_average %>
        </td>
        <td class="right notes">
        <% if source.annotations_by(current_user).any? %>
          <%= link_to "Notes", data_record_notes_path(source, :anchor => "notes"), :class => "notesAvailable", :title => "Notes" %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="clear"></div>
