<ul>
  <% comments.each do |comment| -%>
    <% author = User.find(comment.user_id) %>

    <% content_tag_for :li, comment, :class => cycle('odd', 'even', :name => 'comments') do %>
      <div class="commentMetaData">
        <%= gravatar_for author, :class => "userAvatar", :size => 37 %>
        <span class="commentDate"><%= comment.created_at.strftime('%b %d, %Y @ %H:%M') %></span>
        <span class="author">by <%= author.display_name %></span>
      </div>
      <div class="rating">
        <% unless comment.voted_by_user?(current_user) %>
          <% form_for [@data_record, comment, comment.votes.new] do |form| %>
            <button title="Vote This Comment Up" class="thumbUp" type="submit">
              <span>Vote This Comment Up</span>
            </button>
          <% end %>
        <% end %>
        <span class="ratingNumber"><%= comment.votes_for %></span>
      </div>
      <div class="clear"></div>
      <div class="commentContent">
        <%= markdownize comment.body %>
      </div>
      <div class="commentFooter">
        <%= link_to "Reply to This", data_record_path(@data_record, :parent_id => comment.id, :anchor => "comment_form") %>
      </div>
      <div class="clear"></div>
      <% if comment.children.any? -%>
        <%= render 'comments/list', :comments => comment.children %>
      <% end -%>
    <% end %>
    <% reset_cycle "comments" %>
  <% end -%>
</ul>
