<li>
  <%= form.label :title %>
  <%= form.text_field :title %>
</li>
<li>
  <%= form.label :description %>
  <%= form.text_area :description %>
</li>
<li>
  <%= form.label :country %>
  <%= form.country_select :country %>
</li>
<li>
  <%= form.label :organization_id %>
  <%= form.select :organization_id, organizations_for_select(@organizations) %>
</li>

<% form.fields_for :author do |author_form| %>
  <li>
    <%= author_form.label :name, "Author Name" %>
    <%= author_form.text_field :name %>
  </li>
  <li>
    <%= author_form.label :affiliation, "Author Affiliation" %>
    <%= author_form.text_field :affiliation %>
  </li>
<% end %>

<li>
  <%= form.label :homepage_url, "Homepage URL" %>
  <%= form.text_field :homepage_url %>
</li>
<li>
  <%= form.label :status %>
  <%= form.select :status, %w(Planned Published Completed) %>
</li>
<li>
  <%= form.label :project_name, "Project Name" %>
  <%= form.text_field :project_name %>
</li>
<li>
  <%= form.label :funder %>
  <%= form.text_field:funder %>
</li>
<li>
  <%= form.label :year %>
  <%= form.text_field :year %>
</li>

<h2>Contact details to request more information</h2>
<% form.fields_for :contact do |contact_form| %>
  <li>
    <%= contact_form.label :name %>
    <%= contact_form.text_field :name %>
  </li>
  <li>
    <%= contact_form.label :email %>
    <%= contact_form.text_field :email %>
  </li>
  <li>
    <%= contact_form.label :phone %>
    <%= contact_form.text_field :phone %>
  </li>
<% end %>
