<h2>Describe the record you want to add</h2>
<ul>
  <% if current_user.admin? %> 
    <li>
      <%= form.label :owner_id, "Added By" %>
      <%= form.select :owner_id, grouped_options_for_select(owners_for_select(current_user)), :selected => current_user.id %>
    </li>
  <% end %>
  <li>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </li>
</ul>
<ul id="location_fields">
  <% form.fields_for :data_record_locations do |location_form| %>
    <li>
      <%= location_form.label :location_id, "Geographical Coverage" %>
      <%= location_form.select :location_id, all_locations_for_select(:stringify_ids => false), {:disabled => "-------------"}, {:class => "geo-location"} %>
      <span class="remove_checkbox">
        <% unless location_form.object.new_record? %>
          <%= location_form.check_box '_destroy' %>
          <%= location_form.label '_destroy', 'Remove' %>
        <% end %>
      </span>
      <div class="disaggregation-level hide-on-clone" style="display:none;">
        <span class="tip">Select lowest level of disaggregation</span>
        <%= location_form.select :disaggregation_level, disaggregation_levels_for_select, :disabled => "-------------" %>
      </div>
    </li>
  <% end %>
  <li class="add_another">
    <%= link_to "+ Add Location", "javascript:" %>
  </li>
</ul>
<ul>
  <li>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </li>
  <li>
    <%= form.label :year, "Publication Year" %>
    <%= form.select :year, (1950..Date.today.year).to_a.reverse %>
  </li>
  <li>
    <%= form.label :tag_list, "Tags" %>
    <% if @data_record.tags.blank? %>
      <%= select_tag 'tags[]', options_for_select(topic_tags) %><%= link_to 'remove', '#', :id => 'remove-data-record-tag' %>
    <% else %>
      <% @data_record.tags.each do |tag| %>
        <%= select_tag 'tags[]', options_for_select(topic_tags, :selected => tag.name) %><%= link_to 'remove', '#', :id => 'remove-data-record-tag' %>
      <% end %>
    <% end %>
    <br>
    <%= link_to_function 'Add another tag', "$('#add-data-record-tag').prev().before(#{(select_tag('tags[]', options_for_select(topic_tags)) + link_to('remove', '#', :id => 'remove-data-record-tag')).to_json})", :id => 'add-data-record-tag' %>
  </li>  
</ul>

<h2>Add Documents</h2>
<ul id="documents_fields">
  <% form.fields_for :documents do |document_form| %>
    <li>
      <div class="toggable-fields">
        <div>
          <%= document_form.label :title %>
          <%= document_form.text_field :title %>
        </div>
        <div>
          <%= document_form.label :document_type, "Type" %>
          <%= document_form.select :document_type, Document::DOCUMENT_TYPES %>
        </div>
        <div class="toggle">
          <%= document_form.radio_button :storage, "upload" %>
          <%= document_form.label :storage_upload, "Upload a file from my computer" %>

          <%= document_form.radio_button :storage, "external" %>
          <%= document_form.label :storage_external, "Provide an URL to an external file" %>
        </div>
        <div class="toggable upload">
          <%= document_form.label :file, "Upload a File" %>
          <%= document_form.file_field :file, :class => "required" %>
          <% if document_form.object.file_file_name.present? %>
            <span class="current_file">
              Current File: <%= link_to document_form.object.file_file_name, document_form.object.download_url %>
          </span>
          <% end %>
        </div>
        <div class="toggable external">
          <%= document_form.label :external_url, "External URL" %>
          <%= document_form.text_field :external_url, :class => "required" %>
        </div>
        <div class="remove_checkbox">
          <% unless document_form.object.new_record? %>
            <%= document_form.check_box '_destroy' %>
            <%= document_form.label '_destroy', 'Remove' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <li class="add_another">
    <%= link_to "+ Add Document", "javascript:" %>
  </li>
</ul>
