- raise @data_record.errors.full_messages.inspect
.block-step
  .box-step
    .frame
      .title
        %h2 Step 1. Describe the record you want to add
      / row
      - if current_user.admin?
        .row
          %label{:for => 'owner_id'} Added By
          = form.select :owner_id, grouped_options_for_select(owners_for_select(current_user)), :selected => current_user.id
      .row{:class => (@data_record.errors.on(:title) ? 'error' : nil)}
        %label{:for => "title"} Title
        .text
          = form.text_field :title, :class => 'required', :title => 'Title'
      / row
      .row{:class => (@data_record.errors.on(:description) ? 'error' : nil)}
        %label{:for => "description"} Add description
        .text-area
          = form.text_area :description, :title => 'Add description', :cols => 30, :rows => 10, :class => 'required'
      .add-block
        -  form.fields_for :data_record_locations do |location_form|
          .row{:class => (location_form.object.errors.count > 0 ? 'error' : nil)}
            = location_form.select :location_id, all_locations_for_select(:stringify_ids => false), {:disabled => "-------------"}, {:class => "geo-location"}
            - unless location_form.object.new_record?
              = location_form.hidden_field '_destroy'
            %a.link-minus{:href => "#"} minus
            %a.link.link-add{:href => "#"} plus
      / row
      .row{:class => (@data_record.errors.on(:year) ? 'error' : nil)}
        %label{:for => "year"} Publication year
        .text
          = form.text_field :year, {:class => :required}
      .add-block
        .row.default
          %label{:for => "tag-default"} Select tag
          = select_tag 'tags[]', options_for_select(topic_tags), :class => 'data-record-tag sel default required-sel', :id => 'tag-default'
          %a.link-minus{:href => "#"} minus
        - if @data_record.tags.blank?
          .row
            = select_tag 'tags[]', options_for_select(topic_tags), :class => 'data-record-tag sel required-sel'
            %a.link.link-add{:href => '#'} plus
        - else
          - tags = @data_record.tags
          .row{:class => (@data_record.errors.on(:tag_list) ? 'error' : nil)}
            = select_tag 'tags[]', options_for_select(topic_tags, :selected => tags.shift.name), :class => 'data-record-tag sel required-sel'
            %a.link.link-add{:href => '#'} plus
          - tags.each do |tag|
            .row{:class => (@data_record.errors.on(:tag_list) ? 'error' : nil)}
              = select_tag 'tags[]', options_for_select(topic_tags, :selected => tag.name), :class => 'data-record-tag sel required-sel'
              = link_to 'minus', '#', :id => 'remove-data-record-tag', :class => 'link link-add'

  .box-step
    .frame
      .title
        %h2 Step 2. Add documents (at least one document required)
      / row
      .add-block
        - @data_record.documents.insert(0, @data_record.documents.new)
        - i = 0 # This is a hack to get the js and ajaxy form working
        - form.fields_for :documents do |document_form|
          .title-block{:class => (i == 0 ? 'default' : nil)}
            - unless document_form.object.new_record?
              = document_form.hidden_field '_destroy'
            .row{:class => (document_form.object.errors.on(:title) ? 'error' : nil)}
              %label{:for => "document"} Title
              = document_form.select :title, ['Title', 'option'], :class => 'sel required-sel'
            .row{:class => (document_form.object.errors.on(:document_type) ? 'error' : nil)}
              %label{:for => "document"} Select document type
              = document_form.select :document_type, Document::DOCUMENT_TYPES, :class => 'sel required-sel'
            .row-holder.add-document.required-radio
              .box-row
                = document_form.radio_button :storage, "upload"
                %label{:for => "r01"} Upload a file
                .box-file.upload-box
                  %label{:for => "file"} Choose file
                  = document_form.file_field :file, :class => 'file-input-area', :size => 20
                  %a.button{:href => "#"} File
              .box-row.box
                = document_form.radio_button :storage, "external"
                %label{:for => "r02"} Provide a link
                %label.hidden{:for => "url"} url
                .text-row.upload-box
                  .text
                    = document_form.text_field :external_url
            - if i == 1
              .row-holder
                .box-add
                  %a.link-add{:href => "#"} Add Title
            - i +=1
      .row-batton
        %input.btn-submit{:type => "submit", :value => "Go to last step"}/
