- content_for :title do
  Edit Data Record

= show_flash_message
/ block-create
.block-create
  - form_for @data_record, :url => data_records_path, :html => { :multipart => true, :method => :post, :class => "form-create #{@data_record.errors.count > 0 ? 'form-error' : nil}" } do |form|
    %fieldset
      %legend Title
      = form.hidden_field :current_step
      .block-title
        / box-btn
        .box-btn
          = render :partial => 'shared/quick_menu', :object => 'add'
        %h1 #{@data_record.new_record? ? 'Create' : 'Edit'} a record
        %span.mark All fields are required.
        / box-error
        .box-error
          .frame
            %p= form.error_messages
      / block-step
      .block-step
        = render :partial => "screen1_form", :locals => {:form => form}
        = render :partial => 'screen2_form', :locals => {:form => form}
