<% content_for :title do %>
  Browse
  <% if @filters.tagged.present? %>
    by tag "<%= @filters.tagged %>"
    <span class="small">(<%= link_to "View all", data_records_path %>)</span>
  <% end %>
<% end %>
<% content_for :body_class do %>browse<% end %>
<div id="column_fullWidth">
  <%= render 'filters' %>

  <%= show_flash_message %>

  <% if @data_records.total_pages > 1 %>
    <div class="tableNav">
      <%= will_paginate @data_records %>
    </div>
  <% end %>

  <%= render 'shared/source_table' %>

  <% if @data_records.total_pages > 1 %>
    <div class="tableNav">
      <%= will_paginate @data_records %>
    </div>
  <% end %>
</div>
