<% content_for :body_class do %>detail lgHeader<% end %>

<% content_for :title do %>
  <%= @data_record.title %>
<% end %>

<%= render 'shared/data_record_tabs' %>

<div id="ltColumn">
  <%= show_flash_message %>
  <p><%= @data_record.description %></p>
  <div class="module">
    <div class="dataDetails">
      <div id="metaDetails">
        <dl>
          <dt>Submitted By</dt>
          <dd><%=h @data_record.owner.display_name %></dd>

          <dt>Geographical Coverage</dt>
          <dd><%= @data_record.locations.map {|loc| link_to loc.name, data_records_path(:filters => { :location => loc.id }) }.join(", ") %></dd>
          
          <% if @data_record.data_record_locations.present? %>
            <dt>Lowest Level of Disaggregation</dt>
            <% for data_record_location in @data_record.data_record_locations do %>
              <%= data_record_location.disaggregation_level %>
            <% end %>
          <% end %>


          <dt>Publication Year</dt>
          <dd><%= link_to @data_record.year, data_records_path(:filters => { :release_year => @data_record.year }) %></dd>

          <dt>Tags</dt>
          <dd><%= linked_tags(@data_record) %></dd>

          <% if @data_record.ministry.present? %>
            <dt>Ministry</dt>
            <dd><%= link_to @data_record.ministry.display_name, data_records_path(:filters => { :ministry => @data_record.ministry.id }) %></dd>
          <% end %>

          <dt>Lead Organization</dt>
          <dd><%= link_to @data_record.lead_organization.name, @data_record.lead_organization %>

          <% if @data_record.collaborators.any? %>
            <dt>Other Institutional Collaborators</dt>
            <dd><%= @data_record.collaborators.map {|collab| link_to collab.name, collab }.join(", ") %></dd>
          <% end %>

          <% if @data_record.homepage_url.present? %>
            <dt>URL</dt>
            <dd><%= link_to @data_record.homepage_url, @data_record.homepage_url %></dd>
          <% end %>

          <% if @data_record.authors.any? %>
            <dt>Authors (Affiliation)</dt>
            <dd>
              <%= authors_of @data_record %>
            </dd>
          <% end %>

          <% if @data_record.funder.present? %>
            <dt>Funder</dt>
            <dd><%=h @data_record.funder %></dd>
          <% end %>
        </dl>
      </div>

      <%= render "ratings/box", :rateable => @data_record %>

      <div class="clear"></div>
    </div>

    <% if @data_record.documents.any? -%>
    <div id="downloadFormats" class="dataDetails">
      <h3>Files Available for Download</h3>
      <ul>
        <% @data_record.documents.each do |document| %>
          <li><%= link_to "#{document.title} (#{document.document_type})", document.download_url %></li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
    <% end %>


    <div id="contact_information" class="dataDetails">
      <h3>Contact Details to Request More Information</h3>
      <dl>
        <dt>Name</dt>
        <dd><%=h @data_record.contact.name %></dd>

        <% if @data_record.contact.email.present? %>
          <dt>Email</dt>
          <dd><%= mail_to @data_record.contact.email %></dd>
        <% end %>

        <% if @data_record.contact.phone.present? %>
          <dt>Phone</dt>
          <dd><%=h @data_record.contact.phone %></dd>
        <% end %>
      </dl>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= render 'favorites/sidebar' %>
    <%= render 'notes/form' %>
  </div>
</div>
<div class="clear"></div>

<%= render 'comments/box' %>
