<% content_for :body_class do %>detail lgHeader<% end %>

<% content_for :title do %>
  <%= @data_record.title %>
<% end %>

<%= render 'shared/data_record_tabs' %>

<div id="ltColumn">
  <%= show_flash_message %>
  <p><%= @data_record.description %></p>
  <div class="module">
    <div id="dataDetails">
      <div id="metaDetails">
        <dl>
          <%= detail_field @data_record,
            :attribute => :organization_id,
            :label     => "Organization",
            :value     => @data_record.organization.name,
            :url       => @data_record.organization %>
          <%= detail_field @data_record,
            :attribute => :homepage_url,
            :label     => "Homepage",
            :value     => truncate(@data_record.homepage_url, :length => 30),
            :url       => @data_record.homepage_url %>
          <%= detail_field @data_record,
            :attribute => :catalog,
            :label     => "Original Catalog",
            :value     => @data_record.catalog.try(:name),
            :url       => @data_record.catalog.try(:url) %>
        </dl>
      </div>

      <%= render "ratings/box", :rateable => @data_record %>

      <div class="clear"></div>
    </div>

    <% unless @data_record.downloads.empty? -%>
    <div id="downloadFormats">
      <h3>Available Formats for Download</h3>
      <ul>
        <% @data_record.downloads.each do |download| -%>
        <li>
          <a href="<%= download.url %>"><%= download.format.upcase %></a>
          <% unless download['size'].blank? %>
            <span>(<%= download['size'] %>)</span>
          <% end %>
        </li>
        <% end -%>
      </ul>
      <div class="clear"></div>
    </div>
    <% end -%>
  </div>

  <% unless @data_record.downloads.empty? || @data_record.downloads.first.nil? || @data_record.downloads.first.preview.nil?  -%>
  <div class="module">
    <h3>Preview of Data</h3>
    <div class="scroll mono code"><%= @data_record.downloads.first.preview %></div>
  </div>
  <% end -%>
</div>
<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= render 'favorites/sidebar' %>
    <%= render 'notes/form' %>
  </div>
</div>
<div class="clear"></div>

<%= render 'comments/box' %>
