%h1 Contest Categories

%p
  We will accept two types of entries for this contest:
  %br
  (1) Software applications that use data on Ghana to raise awareness or promote better decision-making. Applications can be for the web, mobile phones, or SMS and must address one of the 
  contest TOPICS.
  %br  (2) News articles that reflect excellence in data journalism. Articles must be between 1,500 and 2,500 words, include at least one visualization using data on Ghana and address one of 
  the contest TOPICS.

%h1 Contest Topics

%p
  Contestants must address one of the following topics in their entries:
  %br
  %strong (1) Health
  %br
  Any issue related to health in Ghana will be accepted. Topics could include, but are
  %em{:style => 'text-decoration: underline;'} not limited to:
  maternal or child health and mortality; nutrition; HIV and AIDS; non-communicable diseases; 
  mental health; reproductive health; and neglected diseases. 
  %br
  %strong (2) Education
  %br
  Any issue related to education in Ghana will be accepted. Topics could include, but are
  %em{:style => 'text-decoration: underline;'} not limited to:  
  student enrollment and attendance; teacher education at all levels; quality of education; 
  higher education; and vocational training.
  %br
  %strong (3) Environment
  %br
  Any issue related to the environment in Ghana will be accepted. Topics 
  could include, but are 
  %em{:style => 'text-decoration: underline;'} not limited to:
  climate change, flooding, sanitation, air quality, and noise pollution.  

%h1 Contest Data

%p
  Contestants must use
  %em{:style => 'text-decoration: underline;'} at least one dataset
  in their entries. Datasets must be publicly available and could include, but are
  %em{:style => 'text-decoration: underline;'}  not limited to:

  %ul{:style => 'font-size: 1.4em;'}
    %li Any datasets available through the (#{link_to 'Ghana Statistical Service', 'http://www.statsghana.gov.gh/'})
    %li The Demographic and Health Survey (#{link_to '(register with MEASURE DHS)', 'http://www.measuredhs.com/countries/country_main.cfm?ctry_id=14'})
    %li 2000 Ghana Census (#{link_to '(register with IPUMS)', 'https://international.ipums.org/international-action/users/login'})
   
%h1 Prizes

%p Prizes will be awarded to the two best entries as follows:

%p
  (1) Software Applications
  %br
  First Place: New 11" Apple MacBook Air
  %br
  Second Place: New Apple iPad2 (WiFi 16GB)
  %br
  (2) News Articles
  %br
  First Place: New 11" Apple MacBook Air
  %br
  Second Place: New Apple iPad2 (WiFi 16GB)

%h1 Brief Contest Rules

%ul{:style => 'list-style-type: decimal; font-size: 1.4em;'}
  %li Each submission must use at least one dataset (only publicly available datasets are allowed).

  %li Software applications must be for the web, mobile devices, or SMS.

  %li News articles must be between 1,500 and 2,500 words. Articles must be the contestant's original work and may not have been published previously.

  %li Winners will be announced in November 2011 via the Data Uncovered blog.

%h1 Official Rules and Frequently Asked Questions

%h2 A. General

%h3
  What do you mean by "
  %em{:style => 'text-decoration: underline;'} development
  "?

%p Development encompasses governance, health, education, gender, economics, human rights, infrastructure, economics, and the environment.

%h3 Who is eligible to participate?

%p
  This contest series is open to anyone residing in Ghana. Any current resident (whether or not the person is a Ghanaian) who
  is at least 18 years old can register and submit one or more entries. Winning contestants may be asked to provide proof of
  age and resident status. Ghanaian citizens living outside Ghana are NOT eligible to participate.
  %br
  Contest organizers, judges, and their immediate relatives are not eligible to compete.
  Contestants must state any possible conflicts of interest at the time of registration. Final
  determination of eligibility will be made at the discretion of contest organizers..

%h3 How do I register?

%p
  Contestants must register at #{link_to 'www.datauncovered.com/contest/', 'http://www.datauncovered.com/contest/'}. The contest organizers are not responsible for any technical or human errors regarding contest
  registration or submission.

%h3 How many entries can each contestant submit?

%p
  There is no limit to the number of entries a team or an individual may submit, but each entry must be substantially different.
  Individuals may not have more than one winning entry. The captain of a group may be part of two winning Software Application teams,
  but may not be listed as the captain for more than one winning team.

%h3 What do you mean by “publicly available” datasets?

%p
  Contestants must use datasets that are available to everyone, including the contest organizers and judges.
  This is to ensure fair and transparent competition.

%h3 Who will evaluate the entries?

%p
  Depending on the number of submissions, entries may undergo an initial screening by the
  contest organizers. A panel of judges will select the final winners. If there is a tie, the panel will
  cast ballots until one entry gets a majority of votes. The panel’s decision is final and not subject
  to appeal. Contestants waive any rights to dispute the outcome of the contest.

%h3 How will you announce the winners?

%p
  We will announce the winners via the blog. We will also contact the winning individuals using
  the information provided at registration.
  The winners will then have 10 days to complete a verification process. If an individual winner
  or winning team fails to provide verification within 10 days, or if the contest organizers are not satisfied by the
  verification information provided, the winner or winning team may forfeit the prize. In the event that a prize is
  forfeited, the contest organizers may award the prize to the individual or team with the next highest
  score. Winners will be responsible for any and all applicable taxes and fees related to the
  prizes.

%h3 What if I have more questions?

%p
  Send them to us at contest-ghana@datauncovered.com by 23:59 GMT on 15 October 2011. We will post all questions
  and responses here (questions will be made anonymous and may be grouped together with similar questions).

%h2 B. Software Application Category

%h3 Is there a limit to team size?

%p 
  There is no limit to team size. If a team of contestants submits one of the winning entries for the Software
  Application category, the team captain will receive the full prize. The contest organizers will not be involved
  in any decisions about how prizes are divided among members of the team.

%h3 Can I code in any programming language?

%p
  Yes. The application must run on the web, mobile phones, or SMS. The application must be an original creation 
  that does not use any code not owned by the contestant(s). By participating, contestants affirm that their 
  applications are original works that do not violate any rights of other parties; contestants also agree to take 
  full responsibility for claims of ownership and to indemnify the contest organizers against third party claims.

%h3 How do I submit my entry?

%p  Individual competitors or team captains must use this form to submit their applications. Applications submitted 
  through any other means will not be accepted. Submissions must include a link to the application, a 250-word 
  summary of the application, a link to a video of the application (YouTube, Vimeo, or another free video hosting service), 
  and at least one screenshot of the application. 
  %br  When submitting an application, contestants must indicate they have read and agree to the contest rules. By 
  participating, contestants grant the contest organizers the royalty-free right to use the application for 
  promotional, informational, and educational purposes.

%h3 What will you do with my entry?

%p  When submitting an entry, contestants must agree to release their work under an 
  (#{link_to 'OSI approved license', 'http://www.opensource.org/approval'}). 
  All contest entries may be made public after the submission deadline has passed. At this point, anyone 
  will be able to access, use, and further develop the entries according to the terms of the OSI license. 
  Contestants will retain rights to their entries.

%h3 How will Software Application entries be evaluated?

%p
  All apps will be rated on the following 100-point scale:

%ul{:style => 'list-style-type: decimal; font-size: 1.4em;'}
  %li Usefulness of the app (30 points)  %li Interface and design (30 points)  %li Originality (30 points)  %li Usability (10 points)

%h2 C. News Article Category

%h3 Can teams register and compete in this category?

%p 
  No. We will only accept article submissions from individuals.

%h3 What should I write about?

%p
  News articles must be between 1,500 and 2,500 words, include at least one visualization using
  data on Ghana and address one of the contest TOPICS.

%h3 How to I make visualizations using the data?

%p Start #{link_to 'here', 'http://www.niemanlab.org/2010/08/how-the-guardian-is-pioneering-data-journalism-with-free-tools/'} to learn more about data journalism tools. Other data journalism resources include:

%ul{:style => 'font-size: 1.4em;'}
  %li= link_to 'Journalism in the Age of Data', 'http://datajournalism.stanford.edu/'
  %li= link_to 'Guardian’s “How to be a data journalist”', 'http://www.guardian.co.uk/news/datablog/2010/oct/01/data-journalism-how-to-guide'
  %li Presentations by the Guardian’s Simon Rogers (#{link_to 'here', 'http://prezi.com/8nmdnp_7qvsb/data-journalism/'} and #{link_to 'here', 'http://prezi.com/0czlhbezibbj/data-journalism-workflow/'})

%h3 Can I submit an article that has been published previously, either in full or in part?

%p No. Articles must be the contestant’s original work and may not have been published previously.

%h3 How do I submit my entry?

%p
  Individual competitors must use this form to submit their news articles. Articles submitted
  through any other means will not be accepted. Each article must be written in English.
  Visualizations should be included in the document containing the text of the article.
  %br
  When submitting an article, contestants must indicate they have read and agree to the contest
  rules. By participating, contestants affirm that their applications are original works that do not
  violate any rights of other parties; contestants also agree to take full responsibility for claims of
  ownership and to indemnify the contest organizers against third party claims. Participation also
  indicates that contestants agree to grant the contest organizers the royalty-free right to use the
  articles for promotional, informational, and educational purposes.

%h3 What will you do with my entry?

%p
  The contest organizers may post articles on their websites, but contestants will retain rights to
  their entries.

%h3 How will news articles be evaluated?

%p All news articles will be rated on the following 100-point scale:

%ul{:style => 'font-size: 1.4em;'}
  %li Accuracy (30 points)  %li Readability (30 points)  %li Originality (30 points)  %li Language (10 points)
