%h1 Catégories du concours

%p
  Pour ce concours, nous accepterons
  %strong des applications logicielles
  utilisant des données sur le Sénégal pour sensibiliser ou promouvoir une meilleure prise de décision. Ces applications pourront être  pour le web, les téléphones mobiles ou les SMS et doivent aborder l'un des 
  %strong{:style => 'text-decoration: underline;'} THEMES  du concours.
  

%h1 Thèmes  du concours

%p
  Les participants doivent aborder l'un des thèmes suivants dans leurs propositions: la santé, l’éducation et l’environnement. Les propositions pourraient inclure, mais
  %em{:style => 'text-decoration: underline;'} ne sont pas limités à:
  %br
  %strong (1) Santé
  %br
  La mortalité maternelle ou infantile, la nutrition, le VIH sida, la santé mentale, la santé reproductive et les maladies négligées.
  %br
  %strong (2) Education
  %br
  l’inscriptions et le maintien des élèves, la formation et le maintien des enseignants, la qualité de l'éducation, l'enseignement supérieur et la formation professionnelle
  %br
  %strong (3) Environnement
  %br
  les changements climatiques,  les inondations, l'assainissement et la qualité de l'air. 
  %br
  %strong (4) Economie
  L'aide au développement, Les comptes nationaux, le commerce international, les régimes de change, la taxation, les industries manufacturières et de services, la production potentielle, le chômage.
  %br
  %strong (5) Bonne gouvernance
  Les libertés politiques, les perceptions des politiciens et des fonctionnaires gouvernementaux, des niveaux de corruption, et les questions politiques clés auxquels le Senegal.
  %br
  %strong (6) Pauvreté
  Les inégalités, l'accès aux services de santé et d'éducation, d'assainissement, logement urbain ou rural, les migrations, la microfinance.
  %br

%h1 Les données du Concours

%p
  Les participants doivent utiliser
  %em{:style => 'text-decoration: underline;'} au moins un paquet de données
  dans leurs propositions. Les paquets de données doivent être accessibles au public et pourraient inclure, mais
  %em{:style => 'text-decoration: underline;'} ne sont pas limités à:

%ul{:style => 'font-size: 1.4em;'}
  %li Toutes données disponibles  sur le #{link_to 'site', 'http://www.ansd.sn/'} de l'Agence Nationale de la Statistique et de la démographie
  %li #{link_to 'L’Enquête démographique et de sante', 'http://www.measuredhs.com/aboutsurveys/search/metadata'} 2005 (EDS IV) (doivent s'inscrire auprès de DHS)
  %li #{link_to 'Enquête sur les indicateurs', 'http://www.childinfo.org/mics2_datasets.html'} du paludisme au Sénégal 2008-2009 (doit s'inscrire auprès de MICS)
  %li Recensement général de la population au Senegal 2002 (doit s'inscrire auprès #{link_to 'IPUMS', 'http://www.ipums.org'})
  %li Site de la #{link_to 'DPEE', 'http://www.dpee.sn'}
  %li Site de la #{link_to 'banque mondiale', 'http://data.worldbank.org/'} et du #{link_to 'FMI', 'http://www.imf.org/external/data.htm'}



%h1 Prix

%p Les prix seront attribués aux deux meilleures productions dans chaque catégorie ainsi qu’il suit:

%h2 Articles de presse

%p
  Premier prix: Nouveau 11" Apple MacBook Air
  %br
  Deuxième  prix: Nouveau Apple iPad2 (WiFi 16Gb)

%h2 Logiciels d'application

%p
  Premier prix: $1000 USD et un nouveau 11" Apple MacBook Air
  %br
  Deuxième  prix: $ 500 USD et un nouveau Apple iPad2 (WiFi 16Gb) 

%h1 Règlement du concours

%ul{:style => 'list-style-type: decimal; font-size: 1.4em;'}
  %li Chaque soumission doit utiliser au moins un ensemble de données (seules les données  publiquement disponibles sont autorisées).
  %li Les candidats inscrits doivent soumettre leur proposition en utilisant le formulaire de soumission au concours avant le 01 Novembre 2011 à 23h59 GMT.
  %li Le texte des articles de presse doit être compris entre 1.500 et 2.500 mots. Les articles doivent être l'œuvre originale du candidat et ne doit pas avoir été publié auparavant. Les reportages radio doivent être de 13 minutes ou un documentaire TV de 13 ou 26 minutes
  %li Les applications logicielles doivent être sur le web, sur téléphones mobiles, ou sur SMS.
  %li Les gagnants seront annoncés le 15 Novembre 2011 par l'intermédiaire du blog de ​​ datauncovered.com.


%h1 Règlement officiel et Foire aux questions

%i La version française du règlement est fournie à titre indicatif pour les candidats. La version anglaise est la version officielle. Les organisateurs du concours ne sont pas responsables des éventuelles erreurs de traduction.


%h2 A. Généralités

%h3 Qu'entendez-vous par « #{link_to 'développement', 'http://en.wikipedia.org/wiki/International%20development'} »?

%p Développement englobe la gouvernance, la santé, l'éducation, le genre, l'économie, les droits humains, les infrastructures, l'économie et l'environnement. Les categories du concours Données pour le Développement (DpD) sont ​​la santé, l'éducation et l'environnement, l’économie, la bonne gouvernance, et la pauvreté.

%h3 Qui  peut participer?

%p
  Cette série concours est ouverte à toute personne résidant au Sénégal. Tout résident actuel   âgé d'au moins 18 ans peut s'inscrire et poster une ou plusieurs propositions. Il sera demandé  aux participants gagnants de fournir une preuve de leur 'âge et leur statut de résident. Les citoyens sénégalais vivant hors du Sénégal ne sont pas autorisés à participer.

  Les organisateurs du concours, le jury et leur famille immédiate ne pourront pas participer à la compétition. Les participants doivent déclarer tout conflit d'intérêts au moment de leur inscription. La détermination finale de l'éligibilité sera laissée à la discrétion des organisateurs du concours. Toute équipe avec  des membres non  éligibles au moment de la soumission des propositions  sera disqualifiée.

%h3 Comment puis-je m'inscrire?

%p
  Les participants doivent s'inscrire sur le site  #{link_to 'www.datauncovered.com', 'http://www.datauncovered.com'}. Pour les  équipes, chaque membre doit s'inscrire de manière individuelle, mais seul le capitaine de l'équipe doit soumettre  la proposition définitive.

  Les organisateurs du concours ne sont pas responsables des erreurs humaines ou techniques relatives à l'inscription au concours ou à la soumission des propositions.

%h3 Combien de propositions chaque concurrent peut-il présenter?

%p
  Il n'y a pas de limite au nombre de propositions qu'une équipe ou un individu peut présenter, mais les propositions  doivent être différentes. Les particuliers ne peuvent pas avoir plus d'une proposition gagnante. 

%h3 Qu'est-ce que vous entendez par paquets de données «publiquement disponibles» ?

%p Les candidats doivent utiliser les paquets de données qui sont disponibles à tous, y compris aux organisateurs et jury du concours. Les candidats seront disqualifiés s'ils utilisent des données à accès restreint.

%h3 Qui évaluera les propositions?

%p 
  Selon le nombre de soumissions, les propositions  peuvent être soumises à une  évaluation initiale  par les organisateurs du concours. Un panel de juges sélectionnera les gagnants. S'il y a égalité des voix, le panel  votera jusqu'à ce qu'une seule proposition obtienne une majorité de voix. La décision du jury est définitive et non susceptible d'appel. Les participants renoncent à tout droit de contester les résultats du concours.

%h3 Comment allez-vous annoncer les gagnants?

%p
  Nous annoncerons les gagnants sur le blog. Nous allons également communiquer avec les personnes gagnantes et les capitaines d'équipe en utilisant les informations fournies lors de leur inscription. Les gagnants auront alors 10 jours pour terminer un processus de vérification.

  Si un vainqueur individuel ou un capitaine d'une équipe gagnante ne parvient pas à fournir les compléments d'information demandés dans les 10 jours après annonce, ou si les informations fournies ne satisfont  pas  aux règles définies, le gagnant ou l'équipe gagnante se voit retirer le prix. Dans ce cas, le prix est confisqué et les organisateurs du concours  peuvent le remettre à l'équipe ayant la note la plus élevée.

  Les gagnants sont responsables de toutes les taxes applicables et frais connexes pour les prix.

%h3 Que faire si j'ai d'autres questions?

%p Envoyez-les nous à contest-senegal@datauncovered.com jusqu’au 15 Octobre 2011  à 23 h 59 GMT. Nous publierons toutes les questions et les réponses ici (les questions seront anonymes et peuvent être regroupées avec des questions similaires). Les questions doivent être reçues avant le 15 Octobre 2011 pour être considérées. 

%h2 Des applications logicielles

%h3 Y a-t-il une limite dans  la taille des équipes ?

%p Il n'y a aucune limite à la taille des équipes. Si une équipe de compétiteurs gagne dans la catégorie Application Logicielle, le capitaine de l'équipe recevra le prix dans son ensemble. Les organisateurs du concours ne seront pas impliqués dans la façon dont les prix sont partagés entre les membres d’une e équipe.

%h3 Puis-je  codifier dans n'importe quel langage de programmation?

%p Oui. L'application doit s'exécuter sur le web, les téléphones mobiles ou par SMS. L’application doit être une création originale du/de la candidat (e) et ne doit pas utiliser de code dont il n’est pas détenteur des droits. En s’inscrivant, les participants affirment que leurs applications sont des œuvres originales qui ne violent pas les droits des autres parties; les participants s’engagent également  à prendre la pleine responsabilité pour les réclamations de propriété et à indemniser les organisateurs du concours contre les réclamations de tiers.

%h3 Comment puis-je soumettre ma proposition?

%p
  Les concurrents individuels ou les capitaines d'équipes doivent utiliser ce formulaire pour soumettre leurs propositions. Les demandes présentées par d'autres moyens ne seront pas acceptées. Les soumissions doivent inclure un lien vers l'application, un résumé de 250 mots de la  proposition, un lien vers une vidéo de la proposition  (#{link_to 'YouTube', 'http://youtube.com'} , #{link_to 'Vimeo', 'http://translate.google.com/translate?hl=en&prev=_t&sl=en&tl=fr&u=http://vimeo.com/'} , ou d'un autre site d'hébergement vidéo gratuit), et au moins une capture d'écran de l'application. Le résumé de 250 mots doit être rédigé en français et accompagné d'une traduction en anglais.

  Lorsqu’ils soumettent  une proposition , les candidats doivent indiquer qu'ils ont lu et accepté  le règlement du concours. En participant, les candidats s’engagent à accorder aux organisateurs du concours les droits de redevance pour utiliser l'application à des fins, d'information, d'éducation ou à des fins promotionnelles.

%h3 Que ferez-vous avec  ma proposition?

%p Lorsqu’ils soumettent une proposition, les participants doivent accepter de libérer leur travail en vertu d'une #{link_to "licence approuvée par l'OSI", 'http://www.opensource.org/approval'} . Toutes les propositions au concours peuvent être rendues publiques après la date limite de soumission. En ce moment, n'importe qui sera en mesure d'y accéder, de les utiliser et de développer davantage les propositions selon les termes de la licence OSI. Les participants devront conserver leurs droits à leurs entrées.

%h3 Comment les Application logicielles seront-elles évalués?

%p Toutes les applications seront cotées sur une échelle de 90-point selon les critères suivants:

%ul{:style => 'font-size: 1.4em;'}
  %li Utilité de l'application (40 points)
  %li Interface et design (25 points)
  %li Originalité (25 points)

%h3 Besoin d'aide pour le développement?

%p Essayez d’envoyer une question au #{link_to 'groupe de discussion du concours', 'http://translate.google.com/translate?hl=en&prev=_t&sl=en&tl=fr&u=http://groups.google.com/group/d4d-contest'} . 


