%table
  %thead
    %tr
      %td Contest
      %td Category
      %td Members
      %td Affiliation
      %td Email
      %td Phone
      %td Address
      %td City
      %td Title
      %td Summary
      %td URLs
      %td File
      %td Register Time
      %td Entry Time
  %tbody
    = link_to 'download as csv (excel can import)', admin_contest_path(:format => 'csv')
    - @registrations.each do |reg|
      - entry = reg.contest_entry
      - user = reg.user
      %tr
        %td=h reg.contest
        %td=h reg.category
        %td=h reg.friendly_members.join('::')
        %td=h reg.affiliation
        %td=h reg.email
        %td=h reg.phone
        %td=h reg.address
        %td=h reg.city
        %td=h entry.title rescue nil
        %td=h entry.summary rescue nil
        %td
          Program: #{h entry.program_url rescue nil}
          %br
          Video: #{h entry.video_url rescue nil}
          %br
          Photo: #{h entry.photo_url rescue nil}
        %td= entry.file.exists? ? entry.file.url : 'NONE' rescue nil
        %td= reg.created_at.strftime('%c %z') rescue nil
        %td= entry.created_at.strftime('%c %z') rescue nil
