- content_for :body_class do
  about

- content_for :title do
  Contest

= show_flash_message
.block-about
  %h1 Join the Contest
  .aside
    .frame
      %ul
        %li= link_to 'Senegal', contest_path(:id => 'Senegal')
        %li= link_to 'Ghana', contest_path(:id => 'Ghana')
        %li= link_to 'Namibia', contest_path(:id => 'Nambia')
  .column
    %span
      Data for Development: A Contest to Make Development Data More Accessible and Understandable
    %p
      In recent years, web-based contests have promoted innovation in and awareness of data use for decision-making. First there was the #{link_to 'Apps for America', 'http://sunlightlabs.com/contests/appsforamerica/'} contest that challenged web programmers to make the United States Congress more accountable, interactive, and transparent. Then came the #{link_to 'Apps4Africa', 'http://apps4africa.org/'} contest in East Africa; contestants in Kenya, Rwanda, Uganda, and Tanzania competed to develop the best digital tools for solving community problems. This was followed by the global #{link_to 'Apps for Development', 'http://data.worldbank.org/developers/appsfordevelopment'} contest to create software applications related to the #{link_to 'Millennium Development Goals', 'http://www.un.org/millenniumgoals/'} using data from the #{link_to 'World Bank', 'http://data.worldbank.org/'}.
    %p
      Next up: Data for Development (D4D), a new contest series from the #{link_to 'Population Council', 'http://www.popcouncil.org/'} that challenges African programmers, social scientists, and journalists to use data to shape how decisions are made. Follow the country links on this page to learn more and sign up!

- content_for :style do
  %style{:type => 'text/css'}
    :plain
      .flash_notice { font-size: 1.4em; }
