.block-create
  - form_for @registration, :url => contest_index_path(:id => params[:id]), :html => {:class => "form-create #{'form-error' unless @registration.errors.blank?}"} do |f|
    %fieldset
      .block-title
        %h1= h(params[:category] == 'Software' ? "Software / D'Enregistrement du Logiciel" : "Journalism Registration / Inscription du Concours: Journalisme")
        .box-error
          .frame
            %p= f.error_messages
    .box-step
      .frame
        .title
          %h1
        = f.hidden_field :category
        .add-block
          - if params[:category] == 'Software'
            %span{:style=>"font-size: 2em; padding-top: 10px; position: absolute; left: -100px;"} Team Captain
          .row.affiliation.default
            .row-name{:style => 'margin-right: 13px;'}
              .text
                = text_field_tag 'contest_registration[members][][name]', 'Name / Nom'
            .row-affiliation
              .text
                = text_field_tag 'contest_registration[members][][email]', 'Email'
            - if @registration.category != 'Journalism'
              %a.link-minus.affiliation-remove{:href => '#'} minus
              %a.link.link-add.affiliation-add{:href => "#"} plus
        
          .row.affiliation
            .row-name{:style => 'margin-right: 13px;'}
              .text
                = text_field_tag 'contest_registration[members][][name]', current_user.name
            .row-affiliation
              .text
                = text_field_tag 'contest_registration[members][][email]', current_user.email
            - if @registration.category != 'Journalism'
              %a.link-minus.affiliation-remove{:href => '#'} minus
              %a.link.link-add.affiliation-add{:href => "#"} plus
              %span{:style => 'position: absolute; margin-left: 10px;'} Click the plus sign to add team members.
        .row{:class => (@registration.errors.on(:affiliation) ? 'error' : nil)}
          .text
            = f.text_field :affiliation
        .row{:class => (@registration.errors.on(:email) ? 'error' : nil)}
          .text
            = f.text_field :email
        .row{:class => (@registration.errors.on(:phone) ? 'error' : nil)}
          .text
            = f.text_field :phone
        .row{:class => (@registration.errors.on(:address) ? 'error' : nil)}
          .text
            = f.text_field :address
        .row{:class => (@registration.errors.on(:city) ? 'error' : nil)}
          .text
            = f.text_field :city
        .row{:class => (@registration.errors.on(:terms) ? 'error' : nil)}
          = f.check_box :terms
          %label{:style => 'display: block; font-size: 1.5em;'}
            - if params[:id] != 'Senegal'
              I have read and understand the contest rules.
            - else
              J'ai lu et compris le règlement du concours.
        .row
          = f.submit 'Register', :class => 'btn-submit', :style => 'background-image: url("/images/btn-submit.gif");'


- content_for :style do
  %style{:type => 'text/css'}
    :plain
      #main { overflow: visible; }


