<li>
    <%= form.label :display_name, "Name" %>
    <%= form.text_field :display_name %>
</li>
<li>
    <%= form.label :email %>
    <%= form.text_field :email %>
</li>

<% if @user.openid_identifier.blank? -%>
<li>
    <%= form.label :password, form.object.new_record? ? nil : "Change Password" %>
    <%= form.password_field :password %>
</li>
<li>
    <%= form.label :password_confirmation, 'Confirm Password' %>
    <%= form.password_field :password_confirmation %>
</li>
<% end -%>

<li>
    <%= form.label :affiliation, 'Affiliation (optional)' %>
    <%= form.text_field :affiliation %>
</li>
<li>
    <%= form.label :country %>
    <%= form.country_select :country %>
</li>
<li>
    <%= form.label :city %>
    <%= form.text_field :city %>
</li>
<li>
    <%= form.label :user_type, 'User Type' %>
    <%= form.text_field :user_type %>
</li>
<li>
    <%= form.label :personal_url, 'Site Url (optional)'%>
    <%= form.text_field :personal_url %>
</li>
<li>
    <%= form.label :telephone_number, 'Cell Phone (optional)'%>
    <%= form.text_field :telephone_number %>
</li>

<li class="signIn_cues">
  <%= form.check_box :list_opt_in, {:class => "checkbox"} %>
  <%= form.label :list_opt_in, 'Yes, email me updates from Population Council.', {:class => 'inline'}  %>
</li>
