<li>
    <%= form.label :display_name, "Name" %>
    <%= form.text_field :display_name %>
</li>
<li>
    <%= form.label :email %>
    <%= form.text_field :email %>
</li>

<%# admin users shouldn't change passwords, that's why we have reset password %>
<% if local_assigns[:admin].blank? %>
  <% if @user.openid_identifier.blank? -%>
  <li>
      <%= form.label :password, form.object.new_record? ? nil : "Change Password" %>
      <%= form.password_field :password, :value => nil %>
  </li>
  <li>
      <%= form.label :password_confirmation, 'Confirm Password' %>
      <%= form.password_field :password_confirmation, :value => nil %>
  </li>
  <% elsif !@user.new_record? %>
  <li>
      <%= form.label :openid_identifier, 'OpenID Identifier' %>
      <%= form.password_field :openid_identifier %>
  </li>
  <% end %>
<% end %>

<li>
    <%= form.label :affiliation_name, 'Affiliation (optional)' %>
    <%= form.text_field :affiliation_name %>
</li>
<li>
    <%= form.label :location_id, "Country" %>
    <%= form.select :location_id, all_countries_for_select %>
</li>
<li>
    <%= form.label :city %>
    <%= form.text_field :city %>
</li>
<li>
    <%= form.label :user_type, 'User Type' %>
    <%= form.select :user_type, User::USER_TYPES, :include_blank => true %>
</li>
<li>
    <%= form.label :personal_url, 'Site Url (optional)'%>
    <%= form.text_field :personal_url %>
</li>
<li>
    <%= form.label :telephone_number, 'Cell Phone (optional)'%>
    <%= form.text_field :telephone_number %>
</li>

<li class="signIn_cues">
  <%= form.check_box :list_opt_in, {:class => "checkbox"} %>
  <%= form.label :list_opt_in, 'Yes, email me updates from Population Council.', {:class => 'inline'}  %>
</li>
