<% content_for :body_class do %>profile<% end %>

<% content_for :title do %>
    Account Settings
<% end %>

<div id="ltColumn">
  <%= show_flash_message %>
  <% form_for @user, :url => profile_path, :html => { :method => :put } do |form| %>
    <%= form.error_messages :header_message => "Uh-oh!", :message => "The following problems occurred:" %>
    <ul>
      <%= render "users/form", :form => form %>
      <li>
      <button class="update_admin" id="user_submit" type="submit" value="Update" name="commit">
          <span>Update</span>
        </button>
      </li>
    </ul>
  <% end %>
</div>

<div id="rtColumn">
  <h2>Notify me when new data records are created</h2>
    <% form_for (@alert_user || @user || current_user), :url => alerts_path, :html => {:class => ''} do |form| %>
      <%= form.error_messages :header_message => "Uh-oh!", :message => "The following problems occured:" %>
      <ul>
        <%= render 'alerts/form', :form => form %>
        <li>
          <button class="update_admin" id="user_submit" type="submit" value="Save" name='commit'>
        </li>
        <li>
          <%= link_to 'Clear All Notifications', alerts_path, :method => :delete, :confirm => 'Are you sure you want to clear all notifications?' %>
        </li>
      </ul>
    <% end %>
</div>

