<% content_for :title do %>
Account Settings
<% end %>

<% content_for :body_class do %>profile<% end %>

<div id="ltColumn">
  <%= show_flash_message %>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= gravatar_image_tag(current_user.email, :alt => current_user.display_name, :title => current_user.display_name, :class => "avatar") -%>
    <p class="tip">Set your avatar on <a href="http://en.gravatar.com/site/signup/">Gravatar</a>.</p>
    <% form_for @user, :url => profile_path do |f| %>

    <%= f.error_messages :header_message => "Uh-oh!", :message => "The following problems occurred:" %>
    <ul>
      <%= render :partial => "form", :object => f %>
      <%= f.label :openid_identifier, 'OpenID URL' %>
      <%= f.text_field :openid_identifier %>
      <button class="update" id="user_submit" type="submit" value="Update" name="commit">
        <span>Update</span>
      </button>
    </ul>
    <% end %>
  </div>
</div>
<div class="clear"></div>
