<table id="browseTable">
  <thead>
    <tr id="titles">
      <%= sortable_table_header :name => "Data Record",  :sort => :title,         :class => "sort left"   %>
      <%= sortable_table_header :name => "Rating",       :sort => :rating,        :class => "sort left"   %>
      <%= sortable_table_header :name => "Location",     :sort => :location,      :class => "sort center" %>
      <%= sortable_table_header :name => "Ministry",     :sort => :ministry,      :class => "sort center" %>
      <%= sortable_table_header :name => "Organization", :sort => :organization,  :class => "sort center" %>
      <%= sortable_table_header :name => "Record Type",  :sort => :document_type, :class => "sort center" %>
      <%= sortable_table_header :name => "Tags",         :sort => :tags,          :class => "sort center" %>
    </tr>
  </thead>
  <tbody>
    <%= render @data_records %>
  </tbody>
</table> 
