<% content_for :body_class do %>detail lgHeader<% end %>

<% content_for :title do %>
  <%= @data_record.title %> - Community Documentation
<% end %>

<%= render 'shared/data_record_tabs' %>

<div id="ltColumn">
  <p><%= markdown_instructions %></p>
  <% form_for [@data_record, @wiki], :url => data_record_wiki_path(@data_record), :html => { :method => :put } do |form| %>
    <%= form.text_area :body, :class => "full mono" %>
    <button class="update" id="user_submit" type="submit" value="Update" name="commit">
      <span>Update</span>
    </button>
  <% end %>

  <p><br /><%= link_to "&laquo; Go Back", data_record_wiki_path(@data_record) %></p>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= render 'wikis/sidebar' %>
    <%= render 'favorites/sidebar' %>
    <%= render 'notes/form' %>
  </div>
</div>
