<% content_for :body_class do %>detail lgHeader<% end %>

<% content_for :title do %>
  <%= @data_record.title %> - Community Documentation
<% end %>

<%= render 'shared/data_record_tabs' %>

<div id="ltColumn">
  <% if @current_version %>
    <div class="markdowned module">
      <%= markdownize @current_version.body %>
    </div>
    <div class="module">
      <h3>Have your own input?</h3>
      <p>Help us <%= link_to "edit and improve the documentation", edit_data_record_wiki_path(@data_record) %>.</p>
    </div>
  <% else -%>
    <p>This data record doesn't have any documentation yet.</p>
    <p>Start <%= link_to "writing it", edit_data_record_wiki_path(@data_record) %>.</p>
  <% end -%>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= render 'wikis/sidebar' %>
    <%= render 'favorites/sidebar' %>
    <%= render 'notes/form' %>
  </div>
</div>
