- @body_class_hook = 'page-dashboard'
/ block-catalog
.block-catalog
  .box-info
    / box-btn
    .box-btn
      %ul
        %li.active
          %a.dashboard{:href => "#"} Dashboard
        %li
          %a.browse{:href => "#"} Browse
        %li
          %a.add{:href => "#"} Add Data
    %h1 My Favorite Data Records
  / catalog-info
  .catalog-info
    / block-title
    .block-title
      %ul
        %li.col01
          %h2 Data Record
        %li.col02
          %h2
            %a{:href => "#"} Rating
        %li.col03
          %h2
            %a{:href => "#"} Coverage
        %li.col04
          %h2
            %a{:href => "#"} Year
        %li.col05
          %h2
            %a{:href => "#"} Organization
        %li.col09
          %h2
            %a{:href => "#"} Record Type
      %ul.list
        %li.col01
          %h3 Healthy Families-Thriving Communities
          %a.heart{:href => "#"} heart
        %li.col02
          %ul.list-rating
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
        %li.col03
          %span Global
        %li.col04
          %span 2010
        %li.col05
          %span Ministry of the Interior
        %li.col06
          %span Data Report
    / block-inf
    .block-inf
      .block
        .frame
          %p
            Housing Code Enforcements. The dataset contains locations and attributes of housing code enforcements from the Department of Consumer and Regulatory Affairs (DCRA), created as part of the Citywide Data Program (CityDW) for the D.C. Office of the Chief Technology Officer (OCTO) and participating D.C. government agencies. The dataset contains locations and attributes of housing code enforcements from the Department of Consumer and Regulatory Affairs (DCRA), created as part of the Citywide Data Warehouse Program (CityDW) for the D.C. Office of the Chief Technology Officer (OCTO) and participating D.C. government agencies.
            %a{:href => "#"} More &gt;
          %span
            %strong Tags:
            = succeed "," do
              %a{:href => "#"} Education
            = succeed "," do
              %a{:href => "#"} Energy &amp; Mining
            = succeed "," do
              %a{:href => "#"} Environment
            = succeed "," do
              %a{:href => "#"} Financial sector
            = succeed "," do
              %a{:href => "#"} Health
            = succeed "," do
              %a{:href => "#"} Infrastructure
            = succeed "," do
              %a{:href => "#"} Labor &amp; Social Protection
            = succeed "," do
              %a{:href => "#"} Poverty
            = succeed "," do
              %a{:href => "#"} Private Sector
            = succeed "," do
              %a{:href => "#"} Public Sector
            %a{:href => "#"} Science &amp; Technology
    / block-title
    .block-title
      %ul.list
        %li.col01
          %h3 Housing Code Enforcement
          %a.heart{:href => "#"} heart
        %li.col02
          %ul.list-rating
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_off.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_off.gif", :width => "12"}/
        %li.col03
          %span Pakistan
        %li.col04
          %span 2008
        %li.col05
          %span Population Council
        %li.col06
          %span Data, Maps
    / block-inf
    .block-inf
      .block
        .frame
          %p
            Housing Code Enforcements. The dataset contains locations and attributes of housing code enforcements from the Department of Consumer and Regulatory Affairs (DCRA), created as part of the Citywide Data Program (CityDW) for the D.C. Office of the Chief Technology Officer (OCTO) and participating D.C. government agencies. The dataset contains locations and attributes of housing code enforcements from the Department of Consumer and Regulatory Affairs (DCRA), created as part of the Citywide Data Warehouse Program (CityDW) for the D.C. Office of the Chief Technology Officer (OCTO) and participating D.C. government agencies.
            %a{:href => "#"} More &gt;
          %span
            %strong Tags:
            = succeed "," do
              %a{:href => "#"} Education
            = succeed "," do
              %a{:href => "#"} Energy &amp; Mining
            = succeed "," do
              %a{:href => "#"} Environment
            = succeed "," do
              %a{:href => "#"} Financial sector
            = succeed "," do
              %a{:href => "#"} Health
            = succeed "," do
              %a{:href => "#"} Infrastructure
            = succeed "," do
              %a{:href => "#"} Labor &amp; Social Protection
            %a{:href => "#"} Poverty
    / block-title
    .block-title
      %ul.list
        %li.col01
          %h3 Completed Construction Projects 2007
          %a.heart{:href => "#"} heart
        %li.col02
          %ul.list-rating
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_on.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_off.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_off.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_off.gif", :width => "12"}/
            %li
              %img{:alt => "star", :height => "12", :src => "/images/star_off.gif", :width => "12"}/
        %li.col03
          %span Africa
        %li.col04
          %span 2004
        %li.col05
          %span Johns Hopkins
        %li.col06
          %span Data Report
    / block-inf
    .block-inf
      .block
        .frame
          %p
            DC Department of Transportation Completed Construction projects. The dataset contains attributes of construction projects completed by the District Department of Transportation in 2007. The source of the data is a PROTRACK database automatically accessed daily at the District Department of Transportation. The dataset contains attributes of construction projects completed by the District Department of Transportation in 2007. The source of the data is a PROTRACK database automatically accessed daily at the District Department of Transportation.
            %a{:href => "#"} More &gt;
          %span
            %strong Tags:
            = succeed "," do
              %a{:href => "#"} Education
            = succeed "," do
              %a{:href => "#"} Energy &amp; Mining
            = succeed "," do
              %a{:href => "#"} Environment
            = succeed "," do
              %a{:href => "#"} Financial sector
            = succeed "," do
              %a{:href => "#"} Health
            = succeed "," do
              %a{:href => "#"} Infrastructure
            = succeed "," do
              %a{:href => "#"} Labor &amp; Social Protection
            = succeed "," do
              %a{:href => "#"} Poverty
            %a{:href => "#"} Private Sector
