<% if current_user -%>

<%= form.hidden_field :user_id, :value => current_user.id %>

<% else -%>


    <p class='formpara'><%= form.label :name, "Name" %><br/>
    <br/><%= form.text_field :name %><br/>
    <br/><%= form.label :email, "Email Address" %><br/>
    <br/><%= form.text_field :email %><br/>


<% end -%>


    <br/><%= form.label :comments, "Comments" %><br/>
    <br/><%= form.text_area :comments %><br/></p>

