<% content_for :title do %>
  User Accounts
<% end %>

<% content_for :body_class do %>admin<% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">
  <%= show_flash_message %>

  <% if @term.blank? -%>
    <h3>
      There are <%= total_users %> registered users.
      <%= link_to "Add New", new_admin_user_path %>
    </h3>
  <% else -%>
    <h3>
      There are <%= @users.length %> results for: <%= @term %>.
      <%= link_to "Add New", new_admin_user_path %>
    </h3>
  <% end -%>

    <table id="usersTable">
      <thead>
        <tr id="titles">
          <th>Name</th>
          <th>Email</th>
          <th>Latest Activity</th>
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| -%>
        <tr class="<%= cycle('even','odd') %>">
          <td><%= link_to user.display_name, admin_user_path(user) %></td>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td><%= user.last_request_at ? time_ago_in_words(user.last_request_at) + " ago" : "never" %>
          <td><%= link_to "Delete", admin_user_path(user), :method => :delete, :class => "deleteIcon", :alert => "Are you sure?" %></td>
        </tr>
        <% end # User.all.each -%>
      </tbody>
    </table>
</div>
<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">

    <div id="search" class="module">
      <h3>Search for User</h3>
      <% form_tag admin_users_path, :method => :get do -%>
        <input id="searchInput" type="text" name="search" />
        <button class="search" type="submit">
          <span>Search</span>
        </button>
      <% end -%>
      <p class="tip">Enter in a name or email address.</p>
    </div>
    
    <div id="adminUsers" class="module">
      <h3>Admins</h3>
     
      <ul class="adminUsers">
        <% @admins.each do |user| %>
          <li>
             <%= link_to user.display_name, admin_user_path(user) %>
          </li>
        <% end %>
        <li class="clear"></li>
      </ul>
    </div>
  </div>
</div>
