<% content_for :title do %>
  User Accounts : Editing <%= @user.display_name %>
<% end %>

<% content_for :body_class do %>admin<% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">
  <%= show_flash_message %>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
  <% form_for @user, :url => admin_user_path(@user.id), :method => :put do |f| %>
    <%= f.error_messages :header_message => "Uh-oh!", :message => "The following problems occurred:" %>
    <ul>
      <li>
        <%= f.label :role %>
        <%= f.select :role, User::ROLES, :selected => f.object.role.to_sym %>
      </li>
      <%= render "users/form", :form => f, :admin => true %>
      <button class="update" id="user_submit" type="submit" value="Update" name="commit">
        <span>Update</span>
      </button>
    </ul>
  <% end %>

  <div class="clear"></div>
  </div>
</div>
