<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="description" content="An open platform for government data sets and APIs. We make it easy to find datasets by and about government, across all levels (federal, state, and local) and across all branches (executive, legislative, and judicial)." />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="last-code-update" content="2010-08-23 22:34:10">

  <title><%= yield :title %> | National Data Catalog</title>
  <%= stylesheet_link_tag :all, :cache => true %>
  <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->
  <script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-10766227-4']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

  </script>
  <%= yield :head %>
</head>

<body class="<%= yield :body_class %>">
  <div id="headerWrapper">
    <div id="pageMain">
      <script>
  function googleTranslateElementInit() {
   new google.translate.TranslateElement({
     pageLanguage: 'en',
     gaTrack: true,
     gaId: 'UA-10766227-4'
   });
  }
  </script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <%= render 'layouts/header'  %>
      <%= render 'layouts/content' %>
    </div>
    <div class="clear"></div>
    <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery.tools', 'application', :cache => true %>
  <%= render 'layouts/analytics' %>
</body>
</html>
